

#wput-auto-login {
    margin: 0 auto;
    width: 25%;
    padding: 10px;
}

#wput-auto-login label {

    color: #72777c;
    font-size: 14px;
}

.wput-auto-login input[type="text"] {

    font-size: 14px;
    padding: 8px;
    width: 100%;
    margin: 2px 6px 16px 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}